@font-face {
    font-family: Phosphate;
    src: url("../fonts/Phosphate/Phosphate_Fixed_Solid.ttf") format("ttf");
    src: url("../fonts/Phosphate/Phosphate_Fixed_Solid.woff") format("woff");
}
@font-face {
    font-family:Nunito;
    src: url("../fonts/Nunito/Nunito-Regular.ttf") format("ttf");
    src: url("../fonts/Nunito/Nunito-Regular.woff") format("woff");

}
button, h1{
    font-family: Phosphate;
}

a{
    font-family: Nunito;
}
h1{
    color: white;
    letter-spacing: 1px;
}
body{
    background: #1E1E1E;
}

.main-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}